In [1]:
import pandas as pd
import numpy as np

# Using list

In [2]:
my_list=[100,200,300,400,500]

In [3]:
x=pd.Series(my_list,index=['A','B','C','D','E'])

In [4]:
x

A    100
B    200
C    300
D    400
E    500
dtype: int64

In [5]:
type(x)

pandas.core.series.Series

#  Using Numpy Array

In [6]:
arr=np.array(my_list)
arr

array([100, 200, 300, 400, 500])

In [7]:
'A b c D E'.split()

['A', 'b', 'c', 'D', 'E']

In [8]:
pd.Series(arr,'A B C D E'.split())

A    100
B    200
C    300
D    400
E    500
dtype: int32

#  Using Dictionaries

In [9]:
dict1={'A':100,'B':200,'C':300,'D':400}

In [10]:
z1=pd.Series(dict1)

In [11]:
z1

A    100
B    200
C    300
D    400
dtype: int64

In [12]:
z2=pd.Series([10,20,30,40],'A B C D'.split())

In [13]:
z2

A    10
B    20
C    30
D    40
dtype: int64

In [14]:
z1+z2

A    110
B    220
C    330
D    440
dtype: int64

#  Slicing in Series

In [15]:
z2[0:2]

A    10
B    20
dtype: int64

In [16]:
z2['A':'C']

A    10
B    20
C    30
dtype: int64

# .Ioc   & .iloc Functions

In [17]:
z2.loc["A":'C']

A    10
B    20
C    30
dtype: int64

In [18]:
z2.iloc[0:3]

A    10
B    20
C    30
dtype: int64

In [19]:
z=pd.Series({100:'a',200:'b',300:'c'})
z

100    a
200    b
300    c
dtype: object

In [20]:
z.iloc[0]

'a'

# Operations

In [21]:
z1

A    100
B    200
C    300
D    400
dtype: int64

In [22]:
z1>100

A    False
B     True
C     True
D     True
dtype: bool

In [23]:
z1<100

A    False
B    False
C    False
D    False
dtype: bool

# Broadcasting

In [24]:
z1+30

A    130
B    230
C    330
D    430
dtype: int64

# Ordering

In [25]:
z2

A    10
B    20
C    30
D    40
dtype: int64

In [26]:
z2.sort_values(ascending=False)

D    40
C    30
B    20
A    10
dtype: int64

In [27]:
z2.sort_values(ascending=True)

A    10
B    20
C    30
D    40
dtype: int64

In [28]:
z2.sort_values(ascending=False,inplace=True)

In [29]:
z2

D    40
C    30
B    20
A    10
dtype: int64

#  Aggregation on Series

In [30]:
z2

D    40
C    30
B    20
A    10
dtype: int64

In [31]:
z2.min()

10

In [32]:
z2.max()

40

In [33]:
z2.idxmax()

'D'

# DataFrame

In [34]:
rand_mat=np.random.randn(5,4)

In [35]:
rand_mat

array([[-0.03976277, -0.62541981, -0.36431498,  1.51880989],
       [-0.48217229, -1.17953146,  0.76170449,  0.53544715],
       [ 0.60447881, -1.35336397,  0.1776587 ,  1.54081655],
       [-1.26453244,  0.87493051,  1.26195551, -0.76506111],
       [ 0.01996457,  0.89603772,  0.6111984 , -0.33527101]])

In [36]:
df=pd.DataFrame(data=rand_mat,index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A -0.039763 -0.625420 -0.364315  1.518810
B -0.482172 -1.179531  0.761704  0.535447
C  0.604479 -1.353364  0.177659  1.540817
D -1.264532  0.874931  1.261956 -0.765061
E  0.019965  0.896038  0.611198 -0.335271

In [37]:
type(df)

pandas.core.frame.DataFrame

In [38]:
df['W']

A   -0.039763
B   -0.482172
C    0.604479
D   -1.264532
E    0.019965
Name: W, dtype: float64

In [39]:
type(df['W'])

pandas.core.series.Series

# Selection and Indexing

In [40]:
df.loc['A']

W   -0.039763
X   -0.625420
Y   -0.364315
Z    1.518810
Name: A, dtype: float64

In [41]:
df[['W','Z']]

          W         Z
A -0.039763  1.518810
B -0.482172  0.535447
C  0.604479  1.540817
D -1.264532 -0.765061
E  0.019965 -0.335271

#  Add a New Column

In [42]:
df['Add']=df['W']+df['Y']

In [43]:
df

          W         X         Y         Z       Add
A -0.039763 -0.625420 -0.364315  1.518810 -0.404078
B -0.482172 -1.179531  0.761704  0.535447  0.279532
C  0.604479 -1.353364  0.177659  1.540817  0.782138
D -1.264532  0.874931  1.261956 -0.765061 -0.002577
E  0.019965  0.896038  0.611198 -0.335271  0.631163

In [49]:
df.drop('Add',axis=1)

          W         X         Y         Z
A -0.039763 -0.625420 -0.364315  1.518810
B -0.482172 -1.179531  0.761704  0.535447
C  0.604479 -1.353364  0.177659  1.540817
D -1.264532  0.874931  1.261956 -0.765061
E  0.019965  0.896038  0.611198 -0.335271

In [50]:
#df.drop('New',axis=1,inplace=True)

In [51]:
df

          W         X         Y         Z       Add
A -0.039763 -0.625420 -0.364315  1.518810 -0.404078
B -0.482172 -1.179531  0.761704  0.535447  0.279532
C  0.604479 -1.353364  0.177659  1.540817  0.782138
D -1.264532  0.874931  1.261956 -0.765061 -0.002577
E  0.019965  0.896038  0.611198 -0.335271  0.631163

In [52]:
df.drop("Add",axis=1)

          W         X         Y         Z
A -0.039763 -0.625420 -0.364315  1.518810
B -0.482172 -1.179531  0.761704  0.535447
C  0.604479 -1.353364  0.177659  1.540817
D -1.264532  0.874931  1.261956 -0.765061
E  0.019965  0.896038  0.611198 -0.335271

# Add a New Row

In [53]:
df.loc['F']=df.loc['A']+df.loc['C']

In [54]:
df

          W         X         Y         Z       Add
A -0.039763 -0.625420 -0.364315  1.518810 -0.404078
B -0.482172 -1.179531  0.761704  0.535447  0.279532
C  0.604479 -1.353364  0.177659  1.540817  0.782138
D -1.264532  0.874931  1.261956 -0.765061 -0.002577
E  0.019965  0.896038  0.611198 -0.335271  0.631163
F  0.564716 -1.978784 -0.186656  3.059626  0.378060

In [55]:
df.drop('F',axis=0,inplace=True)

In [56]:
df

          W         X         Y         Z       Add
A -0.039763 -0.625420 -0.364315  1.518810 -0.404078
B -0.482172 -1.179531  0.761704  0.535447  0.279532
C  0.604479 -1.353364  0.177659  1.540817  0.782138
D -1.264532  0.874931  1.261956 -0.765061 -0.002577
E  0.019965  0.896038  0.611198 -0.335271  0.631163

In [57]:
df['X']['C']

-1.3533639663160555

In [58]:
df.loc['C']['X']

-1.3533639663160555

# Data Input and Output

In [59]:
pd.read_csv('example.csv')

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
17023,2021,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
17024,2021,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
17025,2021,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
17026,2021,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
17027,2021,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)

In [64]:
import numpy as np